.rich-container .el-tooltip {
    display: inline-block;
  }
  
  .rich-container .el-dialog {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }
  
  .rich-container .el-dialog .el-radio-button {
    width: 50%;
  }
  
  .rich-container .el-dialog .el-radio-group, .rich-container .el-dialog .el-radio-button__inner {
    width: 100%;
  }
  
  .rich-container .el-dialog .image__upload-link {
    text-align: center;
  }
  
  .rich-container .el-dialog .image__upload-link input {
      width: 100%;
      height: 35px;
      margin: 15px 0 12px;
      border: 1px solid #F1F1F1;
      border-radius: 2px;
      font-size: 15px;
      padding: 0 5px;
  }
  
  .rich-container .el-dialog .image__upload-file {
    width: 100%;
    color: gray;
    cursor: pointer;
    display: flex;
    border: none;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    outline: 2px dashed gray;
    outline-offset: -10px;
    margin: 10px 0;
    padding: 9px 0;
  }
  
  .rich-container .el-dialog .image__upload-file input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
  }
  
  .rich-btn {
    width: 34px;
    height: 34px;
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    margin: 1px!important;
    padding: 0;
    font-size: 12px;
    line-height: 27px;
  }
  
  .rich-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset;
  }
  
  .rich-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD;
  }
  
  .rich-btn:disabled {
    cursor: not-allowed;
    background-color: inherit;
    color: #bdbdbd;
  }
  
  .rich-select {
    min-width: 156px;
  }
  
  .rich-select option {
    
  }
  
  .rich-btn svg {
    width: 16px;
    height: 16px;
    margin: auto;
    fill: currentColor;
    display: block;
    text-align: center;
  }