.quick-bar {display: none; }

@media (min-width: 1024px) { 
.quick-bar {display: block;}
.quick-bar-content {width: 70px; right: 5px; font-size: 12px;}

.quick-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E5C5B9;
    box-sizing: border-box;
    height: 76px;
    font-weight: 500;
}
.quick-menu:hover {
    color: #E38A88;
}
.quick-menu-kakao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E5C5B9;
    height: 100px;
    background-color: #FAE300;
    color: #3E2626;

}
.quick-menu-kakao:hover {background-color: rgb(244, 220, 7);}
.quick-menu-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #E38A88;
    height: 100%;
    
    color: #fff;
    padding: 1em 0;
  
}


.quick-title {padding-top: 4px;}
.quick-kakao-title {font-size: 16px; font-weight: 700; margin-top: -4px;}
.quick-number-text {font-size: 25px; font-weight: 400; font-family: Poppins; font-style: Italic; line-height: 28px;}


.quick-icon-01 {background-image: url(../../assets/icon/quick-01.svg); width: 39px; height: 25px; background-position: center; background-repeat: no-repeat; background-size: contain; }
.quick-icon-02 {background-image: url(../../assets/icon/quick-02.svg); width: 39px; height: 30px; background-position: center; background-repeat: no-repeat; background-size: contain;}
.quick-icon-03 {background-image: url(../../assets/icon/quick-03.svg); width: 39px; height: 25px; background-position: center; background-repeat: no-repeat; background-size: contain;}
.quick-icon-04 {background-image: url(../../assets/icon/quick-04.svg); width: 39px; height: 30px; background-position: center; background-repeat: no-repeat; background-size: contain;}
.quick-icon-05 {background-image: url(../../assets/icon/quick-05.svg); width: 39px; height: 30px; background-position: center; background-repeat: no-repeat; background-size: contain;}


  }

  @media (min-width: 1440px) { 
    .quick-bar {display: block;}
    .quick-bar-content {width: 86px; right: 40px; font-size: 14px;}
    .quick-menu {height: 86px;}
  }