html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* this is for custom font family for react quill(Custom_Image_Font_Quill.js) */
.ql-font-nanum-gothic,
.ql-font span[data-value="nanum-gothic"]::before {
  font-family: "Nanum Gothic", sans-serif;
}

.ql-font-arial,
.ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New";
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.ql-container .ql-editor {
  max-height: 400px;
}
.quill-blur {
  display: none;
}

.ql-container.ql-snow {
  height: 100%;
  height: 200px;
  min-height: 65px;
}

/* start of dialog style */
.rich-container .el-dialog {
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.rich-container .el-dialog .el-radio-button {
  width: 50%;
}

.rich-container .el-dialog .el-radio-group, .rich-container .el-dialog .el-radio-button__inner {
  width: 100%;
}

.rich-container .el-dialog .image__upload-link {
  text-align: center;
}

.rich-container .el-dialog .image__upload-link input {
    width: 100%;
    height: 35px;
    margin: 15px 0 12px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 5px;
}

.rich-container .el-dialog .image__upload-file {
  width: 100%;
  color: gray;
  cursor: pointer;
  display: flex;
  border: none;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  outline: 2px dashed gray;
  outline-offset: -10px;
  margin: 10px 0;
  padding: 9px 0;
}

.rich-container .el-dialog .image__upload-file input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
}

/* end of dialog style */

@media screen and (min-width: 0) and (max-width: 991px) {
  .rich-container .el-dialog {
    width: 80%;
    max-width: unset;
  }

  .edit-focus .quill {
    overflow: hidden;
    
    /*
    position: absolute;
    top: 0;
    height: 226px;
    left: 0;
    right: 0;
    */
    
    background-color: #fff;
    z-index: 1;
  }
  /*
  .edit-focus .quill-blur {
    display: block;
    position: absolute;
    top: 226px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
  }
  .edit-focus .ql-editor {
    height: 160px;
    border-bottom: 1px solid #ccc;
  }
  .edit-focus .navbar {
    display: none;
  }
  */

  .edit-focus .main-panel {
    padding: 0 !important;
  }
  .edit-focus .main-panel .main-content {
    min-height: unset !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
