/* ------ Doctor_infor ------ */
.doctor-inforPage-background {background: linear-gradient( to bottom, #fff, #DFDFDF );}
.doctor-inforPage-wrap {display: flex; flex-direction: column;  position: relative;}
.doctor-inforPage-textWrap{ display: flex; position: relative; margin-left: 1rem;} 
.doctor-inforPage-title { font-size: 13px; width:60%; line-height: 1.5rem; margin: 2rem 0; font-weight: 300; position: relative; color: #615454;}
.doctor-inforPage-text { font-size: 8px; font-weight: 300; padding-top: 1.5rem; font-family: 'Noto Sans KR';}
.doctor-inforPage-name {font-size: 16px; font-weight: 400; padding: 0.4rem 0; display: inline-block;}
.icon-doctor-petal {width: 14px; height: 14px; vertical-align: initial; margin-left: 0.5em;}
.doctor-list-wrap {display: flex; background-color:#EBEBEB; padding: 10px;}
.doctor-list li{line-height: 1.4rem; font-size: 10px;}
.doctor-list-one {margin-right: 0.8rem;}
.doctor-text-list {z-index: 1;}
.icon_mark_01 {width: 16px; height: 16px; position: absolute; left: -20px;}
.icon_mark_02 {width: 16px; height: 16px; position: absolute; right: -10px;}
.doctor-inforPage-imgWrap{ position: absolute; right: 0;} 
.doctor-inforPage-img {background-position: center; background-repeat: no-repeat; background-size: cover; width: 150px;}

/* ------ Medical_treatment_guide ------ */
.medical-guide-title {font-size: 21px; font-weight: 400; text-align: center; margin-bottom: 20px;}
.medical-guide-title:after {content: ""; display: block; margin: 0 auto; width: 62px; height: 2px; background-color: #E5C5B9;}
.guide_img {background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%;}
.guide-img-card {display: flex; flex-wrap: wrap; }
.guide-img-card-item {display: flex; flex-direction: column;  width: calc(50% - 1rem ); margin:0.5rem;}

.medical-guidePage-background { display: flex; align-items: center; justify-content: center; background-image: url(../../../assets/images/medical-guide-background.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; height: 450px;}
.time-guide-box {background-color: rgba(255,255,255,0.8); padding: 1rem; width: 250px;}
.medical-guide-title-left {font-size: 21px; font-weight: 400; text-align: left; margin-bottom: 20px;}
.medical-guide-title-left:after {content: ""; display: block; width: 62px; height: 2px; background-color: #E5C5B9;}
.guid-day-time-wrap {display: flex;}
.guide-number {display: flex;  position: relative; align-items: center;}
.guide-number:after {content: ""; display: block; position: absolute; top: 0; left: -1rem; width: calc(100% + 2rem); border-top: 1px solid #fff;}


.guide-time li,.guide-day li {padding: 0.3rem 1rem; margin-bottom: 1rem; font-size: 12px;}
.guide-day li {background-color: #fff; text-align: center; margin-right: 0.5rem;}
.guide-infomation li {font-size: 12px; margin-bottom: 0.5rem;}
.guide-infomation li:nth-child(2) {margin-bottom: 2rem;}
.icon-infor {width: 0.8rem; height: 0.8rem; vertical-align: middle; margin-right: 0.5rem; fill: #707070;}
.guide-number li {padding: 1rem 0 0 0; }
.guide-number li:nth-child(1) {font-size: 21px; margin-right: 1rem;}
.guide-number li:nth-child(2) {font-size: 26px; font-weight: 700;}

/* guide-card */
.guide-card {display: flex; flex-wrap: wrap;}
.guide-card-item {display: flex; flex-direction: column; width: 100%; padding: 1rem 0;}
.guide-box {background-color: #F2F2F2; width: 100%; height: 100%; padding: 2rem 0; justify-content: center; display: flex;  flex-direction: column; align-items: center;  cursor: pointer;}
.guide-box-icon-01 {width: 50px;}
.guide-box-icon-02 {width: 65px;}
.guide-box-icon-03 {width: 140px;}
.guide-box p {font-size: 16px; margin-top: 1rem; font-weight: 500;}
.guide-box:hover {box-shadow: inset 0 -20rem 0 rgba(158, 158, 158, .2);}
.guide-card-item-kakao {background-color: #F8DC10;}

/* ------ Infor ------ */
.infor-desc-wrap {display: flex; flex-wrap: wrap; position: relative;}
.infor-img-card {display: flex; flex-wrap: wrap;}
.infor-img-card-item {display: flex; flex-direction: column; width: 50%;  justify-content: center; align-items: center;}
.infor_img {background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%;}
.infor-img-card-item:nth-child(1) {background-color: #FAD0C4;}
.infor-img-card-item:nth-child(2) {background-color: #E0BCBD;}
.infor-img-card-item:nth-child(3) {background-color: #D99492;}
.infor-img-card-item:nth-child(4) {background-color: #FAF4F1;}

.infor-background {background-color: #F6F6F6;}
.infor-desc-card {background-color: #fff; width: 100%; padding: 2rem;}
.doctor_img {background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%;}

.infor-sub-text {font-size: 12px;}
.infor-sub-title {font-size: 21px; border-bottom: 1px solid #E5C5B9; padding: 0.3rem 0;}
.infor-sub-desc {font-size: 14px; padding-top: 1rem; line-height: 1.5rem;}

.infor-care-title-box { text-align: center;}
.infor-care-title{ display: inline-block; font-size: 16px;}
.infor-care-title:after {content:""; display: block; border: 1px solid #E5C5B9; width: 100%; }
.infor-care-text{font-family: 'Marcellus'; font-size: 8px; color: #A7938A; margin-top: 1em; letter-spacing: 0.5em; }

.infor-care-card {display: flex; flex-wrap: wrap; margin-top: 2rem;}
.infor-care-list {display: flex; flex-direction: column;}
.infor-care-img {background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%;}

.infor-care-card-num {display: none;}
.location-add {margin-top: 1rem;}
.infor-care-card-title {font-weight: 700; margin: 1rem 0 ;}
.infor-care-card-text {margin-bottom: 3rem;}


/* ------ Location ------ */
.locationPage-background{background-image: url(../../../assets/images/map.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; height: 100%;     padding: 0.5rem;}
.location-btn {display: inline-block; padding: 0.6rem 4rem; border: 1px solid #fff; transition: all 0.4s; margin: 1rem 0;}
.location-btn:hover {border: 1px solid #E38A88; color: #E38A88;}
.location-card {background-color: rgba(54,51,50,0.9); color: #fff; padding: 4rem 0; text-align: center; width: 100%; }
.location-sub-item {display: flex; justify-content: center; flex-direction: column; color: #999999; } 
.location-sub-item p {margin-bottom: 0.1rem;}
.location_icon { width: 150px; }
.plus-icon {width: 10px;}
.location-tel {font-size: 28px; font-weight: 500; color: #E38A88; padding-top: 1rem;}

.sub-card-wrap {display: flex;  flex-wrap: wrap;}
.location-sub-card {display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100%; padding: 2rem 0; margin: 0.2rem 0;}
.location-sub-card-top { background-color: #D3706D; color: #fff; }
.location-sub-card-two { background-color: #F2F2F2; }
.location-sub-card-item { text-align: center;}
.location-sub-card-item .location-sub-topText {font-size: 31px; font-weight: 700; margin: -0.5rem 2rem 0 0;}
.location-sub-twoText {font-size: 18px; font-weight: 300; margin: 0rem 2rem 0 0;}
.location-sub-text {font-size: 14px; font-weight: 300; margin-top: 1rem;}

.bus-img {background-image: url(../../../assets/images/bus.jpg); background-position: left; background-repeat: no-repeat; background-size: cover;  width: 100%; height: 0; padding-bottom: 87%; margin-top: 1rem;}

@media (min-width: 600px) { 
    /* Doctor_infor --- 600px */
    .doctor-inforPage-img {width: 280px;}

    /* Medical_treatment_guide --- 600px */
    .guide-img-card {display: flex;}
    .guide-img-card-item {width: calc(20% - 1rem ); margin:0.5rem;}
    .guide-number li {padding: 2rem 0 0 0; }
    .time-guide-box {width: 480px; padding: 2rem; }
    .guide-number:after {left: -2rem; width: calc(100% + 4rem);}
    .medical-guidePage-background {height: 550px; }
    .guide-card-item {width: calc(25% - 2rem); padding: 0 1rem;}
    .guide-box p {font-size: 18px;}
    .guide-box {padding: 4rem 0; }
    .medical-guide-desc {font-size: 16px;}
    .guide-card {padding: 5rem 0;}

    /* Infor --- 600px */
    .infor-img-card-item {width: 25%;}
    
    .infor-sub-text {font-size: 16px;}
    .infor-sub-title {font-size: 34px; padding: 0.3rem 0;}
    .infor-sub-desc {font-size: 16px; padding-top: 1rem; line-height: 1.8rem;}

    .infor-care-card {margin-top: 6em;}
    .infor-care-title{font-size: 32px;}
    .infor-care-text{font-size: 12px;}
    .infor-care-card-num {display: block; font-size: 40px; font-family: 'Merienda One'; background:linear-gradient( to right, #E38A88, #FAD0C4 ); color: transparent; -webkit-background-clip: text;
        background-clip: text; position: relative;}
    .infor-care-card-title {font-size: 18px;}
    .infor-care-card-text {font-size: 16px;}
    .infor-care-list {flex-direction: row; margin-bottom: 4rem;}
    .infor-care-img-box {width: 50%; display: flex;  align-items: center;}
    .infor-care-img {width: 100%;}
    .infor-care-card-desc {width: calc(50% - 6rem); padding:0 3rem; display: flex; justify-content: center; flex-direction: column;}

    .infor-care-list:nth-child(even) .infor-care-img-box {order: 2;}
    .infor-care-list:nth-child(even) .infor-care-card-desc {order: 1; text-align: right;}
    .infor-care-list:nth-child(even) .infor-care-card-num:after {content: ""; display: block; width: 40%; border: 1px solid red; position: absolute; top: 50%; right: -50%;
        border: 1px solid transparent; border-image: linear-gradient(to right, #FAD0C4, #E38A88 ); border-image-slice: 1;}
    .infor-care-list:nth-child(odd) .infor-care-card-num:after {content: ""; display: block; width: 40%; position: absolute; top: 50%; left: -50%; 
        border: 1px solid transparent; border-image: linear-gradient(to right, #FAD0C4, #E38A88 ); border-image-slice: 1; }

    /* location --- 600px */
    .location-card {width: 400px; padding: 4rem 2rem;}
    .location-add {font-size: 16px; margin-top: 1rem;}

    .location-sub-card {width: 44%; padding: 3rem 1rem; margin-top: 1rem;}
    .sub-card-wrap {flex-wrap: nowrap; justify-content: space-between;}
    .location-sub-card-item  .location-sub-topText {font-size: 40px; font-weight: 700;}
    .location-sub-twoText {font-size: 21px;  width: 100px; }
    .location-sub-text {font-size: 18px; margin-top: 1rem;}
    .locationPage-background {padding: 4rem;}
}

@media (min-width: 1024px) { 
    /* Doctor_infor --- 1024px */
    .doctor-text-list {width: 100%;}
    .doctor-inforPage-title { font-size: 28px; line-height: 2.5rem; margin: 6rem 0; width: 42%;}
    .doctor-inforPage-text { font-size: 18px;  padding-top: 0;}
    .doctor-inforPage-name {font-size: 34px;   }
    .doctor-list li{line-height: 2.5rem; font-size: 18px;}
    .doctor-list-wrap {padding: 40px;}
    .doctor-inforPage-textWrap { margin-left: 2rem;}
    .icon_mark_01 {width: 30px; height: 30px; left: -30px; top: -11px;}
    .icon_mark_02 {width: 30px; height: 30px; right: -20px;}
    .doctor-inforPage-img {width: 548px;}
    .doctor-list-one { margin-right: 4rem;}
    .icon-doctor-petal {width: 20px; height: 20px;}

    /* Medical_treatment_guide --- 1024px */
    .guide-img-card {display: flex; margin:0 -1rem; }
    .medical-guide-title {font-size: 34px; margin-bottom: 60px;}
    .medical-guide-title-left {font-size: 34px;}
    .guide-time li,.guide-day li {padding: 0.3rem 1rem; margin-bottom: 1rem; font-size: 16px;}
    .guide-number li:nth-child(1) {font-size: 28px; margin-right: 2rem;}
    .guide-number li:nth-child(2) {font-size: 40px; }
    .medical-guidePage-background {height: 650px; padding-left: 34%;}
    .infor-desc-card {background-color: #fff; width: calc(50% - 5rem); padding: 4rem;  margin: 2rem 0;}
    .doctor_img-box {width: 55%; position: absolute; right: 0;     top: 12%;}

    .bus-img { background-position: left; background-repeat: no-repeat; background-size: contain;  width: 100%; height: 0; padding-bottom: 52%; margin-top: 1rem;}
    
     /* infor --- 1024px */
    .infor-care-card-desc {width: calc(50% - 14rem); padding:0 7rem;}
    .infor-care-card-num {font-size: 50px;}
    .location-sub-card {flex-direction: row; width: 46%;}

    .location-sub-text {text-align: left;  margin-top: 0;}

}

@media (min-width: 1280px) {
     /* Medical_treatment_guide --- 1280px */
    .medical-guidePage-background {padding-left: 38rem;}
    .doctor_img-box {top: 0;}
 }