@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Merienda+One&family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@400;500;700&display=swap');

.haeinBtn {color: red;}
.haeinTitle {background: mediumorchid;}
.haeinContent {background: MediumSeaGreen;}

.lookAroundCont::-webkit-scrollbar {
  display: none;
}

.lookAroundCont {
  -ms-overflow-style: none;
}

/* el-message-box-mobile*/
.el-message-box {
  max-width: 100%;
}

/* el-input__inner */
body .el-input__inner {font-size: 12px;}

.btn-frontend {font-size: 12px; font-weight: 500; border: 1px solid rgba(0,0,0,0.05);}
.btn-frontend:hover {box-shadow: inset 0 -10rem 0 rgba(158, 158, 158, .2);}

.num-img {background-image: url(./assets/images/num-pass.jpg);background-position: center; background-repeat: no-repeat; background-size: cover;
width: 90%; height: 23px;}
/* font style */
.font-weight-medium { font-weight: 500; }
.font-color-blue { color: #93ADC6; }
.font-color-white { color: white; }
.font-color-pink { color: #E38A88; }
.icon-arrow {vertical-align: middle;}

/* m-header */
.sub-menu-title { border-bottom: 1px solid #B9A9A2}
.el-menu .el-submenu .el-submenu__title:hover {background-color: #A7938A;}
.el-menu  .el-submenu .el-menu-item:hover {background-color: #A7938A;}
.el-menu  .el-submenu .el-menu {background-color:#F6F4F3;}

.m-nav-menu .el-menu .el-submenu__title { color: #594544; height: 50px; line-height: 50px;}
.m-nav-menu .el-menu .el-menu-item { color: #594544; height: 50px; line-height: 50px;}
.m-nav-menu .el-menu{ color: #ccc;}
.el-menu  .el-menu-item.is-active {color:#3E2626}
.el-menu .el-submenu .el-menu-item {height: 40px; line-height: 40px;}


/*------------------------------ register ------------------------------*/
.auth-container {max-width: 980px; margin: 0 auto; color: #615454; padding: 1rem 0;}
.title {text-align: center;}
.register--container {
  border-bottom: 1px solid #DFDFDF;
  margin: 0 auto;
}

.register--form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.register--form div{
  margin: 0 auto;
  padding: 2em 1em 0 1em;
}
.register--form div:last-child {
  border-bottom: none;
  padding-bottom: 3em;
}

.register--form-text {
  display: flex;
  font-size: 14px;
  padding-bottom: 8px;
}

.register--form .register--input {
  box-sizing: border-box;
  border: 1px solid #A7938A;
  box-sizing: border-box;
  transition: all 0.3s;
  width: 290px;
  height: 40px;
  padding: 0 1rem;
  
}
.register--form .register--input:hover {
  border: 1px solid #E38A88;
  box-sizing: border-box;
}

/* register__chekbox*/
.register__chekbox--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 290px;
}
.chk--all {
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
}
.chk--text {
  font-size: 10px;
  line-height: 2em;
  padding: 1em 0 2em 3rem;
}

.chk--title {
  font-family: 'Noto Sans KR';
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;

}


.register--checkbox {
  width: 290px;
  background: rgba(167, 147, 138,0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.register--text-btn {
  background: #F4EAEA;
  border: 1px solid #F4EAEA;
  box-sizing: border-box;
  padding: 8px 30px;
  font-size: 12px;

  vertical-align: center;
  float: right;
}

.register--btn {
  margin: 0 auto;
  margin-top: 1rem;
}
.register--cbtn, .register--jbtn  {
  display: inline-block;
  padding: 0.8em 3em;
  color: #E38A88;
  border: 1px solid #E38A88;
}
.register--cbtn {
  color: #605043;
  border: 1px solid #605043;
}
.register--cbtn:first-child {
  margin-right: 10px;
}

.register--jbtn {
  color: #fff;
  background: #E38A88;
}

.register--jbtn:disabled {
  cursor: not-allowed;
  color: #bdbdbd;
}
.register-link-btn { font-size: 12px; border: 1px solid #757575; color: #757575; padding: 0.2em 0.5em; margin-left: auto;}
.btn-forgotten_password {font-size: 14px; height: 40px;  width: 100%; margin: 0.5em 0; }
.btn-forgotten_password-c {border: 1px solid #757575;}
.btn-forgotten_password-s {background: #E38A88; color: #fff;}
.auth-container .forgotten-password-container {border-bottom: 0px;}
.auth-container .forgotten_password-input {width: 100%;}


/* 체크박스*/
input[type="checkbox"] + label .chk-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0px 18px 0 0;
  vertical-align: middle;
  background: url(./assets/icon/checkbox_all.svg) no-repeat;
  background-position: left top;
  cursor: pointer;
  background-size: cover;
}

input[type="checkbox"]:checked + label .chk-icon{
  background:url(./assets/icon/checkbox_all.svg) no-repeat;
  background-position: -30px top;
  background-size: cover;
}


/* error */
.error_email {
  display: none;
  font-size: 11px;
  color: red;
  padding-top: 0.5em;
}

/*------------------------------ header ------------------------------*/
/* header */
.header {display: none;}
.m-header { min-width: 100%; height: 48px;}
.m-nav { display: flex; justify-content: space-between; }
.m-logo {
    background-image: url(./assets/icon/m-logo.svg);
    width: 84px;
    height: 24px;
    padding-top: 23px;
    margin-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 11;
}
.m-menu {
  display: block;
  margin-left: auto;
  background-image: url(./assets/icon/menu_icon.svg);
  width: 48px;
  height: 48px;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

   
}
.icon-event {
  display: inline-block;
  background-image: url(./assets/images/event.png);
  vertical-align: text-top;
  width: 73px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.m-nav {position: relative; }
.m-nav-menu {position: absolute; display: block; z-index: 10; width: 100vw;}



/*------------------------------ banner ------------------------------*/
/* banner */
.banner-img {
  display: inline-flex;
  align-items: center;
  min-width: 100%;
  height: 280px;
  
  background-repeat: no-repeat;
  background-position: 60% center;
  background-size: cover;
}
.banner-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 2em;
}
.banner-text {
  width: 80%;
  height: 140px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.btn-banner {
  font-family: Marcellus;
  display: inline-block;
  padding: 1em 2em;
  font-size: 12px;
  color: #fff;
  background-color: #E38A88;

  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-banner:after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: #fff;
}
.btn-banner:hover:after {
  width: 100%;
  z-index: -1;
}
.btn-banner:hover {
  color: #E38A88;
}
.btn-banner:hover .banner-arrow {
  stroke: #E38A88;
}
/*------------------------------ main ------------------------------*/
/* -- main-all-title-style -- */
.pink {
  color: #E38A88;
}
.main-title-box {
  text-align: center;
  padding: 2rem 0 2rem 0;
 
}
.main-title {
  font-size: 16px;
  padding-bottom: 0.2em;
  font-weight: normal;
}
.main-text {
  font-family: Marcellus;
  font-size: 10px;
  letter-spacing: 0.2em;
  padding-top: 0.8em;
}
.main-title-box-line {
  display: block;
  background-image: url(./assets/images/line.png);
  width: 300px;
  height: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

/* main-program-contents */
.main-program {    display: flex; flex-direction: column; align-items: center;}
.main-program-contents {display: flex; flex-wrap: wrap; width: 100%;}
.main-program-cardList-size {  margin-bottom: 1rem;  height: 200px; position: relative; background-repeat: no-repeat;  background-size: contain; background-position: center; }
.card-01,.card-02 { width: 100%;}


@media (min-width: 600px) {
  .m-nav-menu {display: block;}
  .main-program-contents,.main-program-cardList-size {margin: 0 -0.5rem;}
  .card-01, .card-02  { width: calc(50% - 1rem); margin: 0 0.5rem;}
  .card-02 {margin-bottom: 1rem;}
}
@media (min-width: 1024px) {
  .main-program-contents {width: 1024px;}
  .main-program-cardList-size {background-size: cover; height: 345px;}
  .card-02 { width: calc(25% - 1rem); margin-bottom: 0;}
}

@media (min-width: 1280px) { 
  .main-program-contents {width: 1180px;}
}
.program {
  padding: 0 20px;    
}
.program-link {
  display: block;
  width: 100%;
}
.program-cardList {
  position: relative;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}
.program-card-text {
  color: #fff;
  letter-spacing: 0.5em;
  font-size: 4px;
  text-align: center;
  padding-top: 3em;
}
.btn-card-desc {
  position: absolute;
  bottom: 0;
  display: table;
  color: #fff;
  width: 100%;
  padding: 1em 0;
  text-align: center;
  background-color: rgba(255,210,177,0.8); 
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.program-link:hover .btn-card-desc {
  height: 100%;
  padding-top: 4.5em;
  display: block;
  box-sizing: border-box;
  background-color: rgba(255,210,177,0.9); 
}
.btn-card {
  display: none;
  border: 1px solid #5D4D41;
  color: #5D4D41;
  font-size: 12px;
  padding: 0.5em 1em;
  margin-top: 1.5em;
}
.program-link:hover .btn-card {
  display: inline-block;
}
.card-text {
  font-size: 6px;
  letter-spacing: -1px;
}
.card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
}

/* -- main-info-contents */
.info-container {
  background-color: #F6F6F6;
  padding: 3rem 0;
}

.info-cardList {
  padding: 0 20px;
  display: flex;
  position: relative;
  margin-bottom: 2rem;

}
.info-card-desc {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  width: 50%;
  z-index: 1;
}
.info-text-sub {
  font-family: Noto Sans KR;
  font-size: 10px;
  font-weight: 300;
}
.info-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 205px;
  height: 280px;
  margin-left: auto;
}
.icon-petal {
  width: 13.513px;
  height: 14.909px;
}
.info-name {
  font-weight: 100;
  font-size: 17px;
  padding: 0.2em 0;
}
.info-name-en {
  font-weight: 300;
  font-size: 10px;
  color: #999999;
  letter-spacing: 0.1em;
}
.info-text {
  font-size: 10px;
  font-weight: 300;
  padding: 1em 0 2em 0;
   width: 170px;
}
.info-text::before {
  content:"";
  display: block;
  border-top: 1px solid #E5C5B9;
  height: 1em;
}

.btn-info {
  display: inline-block;
  font-family: Marcellus;
  font-size: 12px;
  padding: 0.8em 3em;
  color: #605043;
  background-color: #E5C5B9;

  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-info:after {
content: "";
width: 0%;
height: 100%;
position: absolute;
top: 0;
left: 0;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-ms-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
background: #ffffff;
}
.btn-info:hover {
  color: #E38A88;
}
.btn-info:hover:after {
  width: 100%;
  z-index: -1;
}
.btn-info:hover .info-arrow {
  stroke: #E38A88;
}
.btn-info {
  vertical-align: middle;
}
 /* notice */
 .notice { display: none; }
  
  
/*------------------------------ footer ------------------------------*/

.footer-sns {
    display: block;
    min-width: 100%;
    min-height: 100%;
    background-image: url(./assets/images/footer-sns-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 0;
}
.sns-icon {
    height: 22px;
    padding-top: 0.5em;
}
.sns-list {
    display: table;
    text-align: center;
    padding: 0 0.3em;
}
.sns-btn {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 8px;
}
.sns-btn:hover .sns-text{
    font-size:0.8em;
}
.sns-title {font-size: 6px;}
.sns-text {
    font-size: 10px;
    font-weight: 700;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    height: 20px;
}

/* footer-counseling */
.footer-counseling {
  max-width: 100%;
}

.footer-counseling-container {
  background-color: #A7938A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}
.counseling-select {
    position: relative;
    z-index: 2;
}
.counseling-select-li {
  position: relative;
  height: 48px;
  background-color: #fff;
}
.select-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.select-icon .material-icons {
  line-height: 48px;
}
.input-counseling {
  min-width: 100%;
  height: 48px;
  padding: 0.8em 1em;
  font-size: 13px;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.counseling-02 textarea {
  width: 100%;
  height: 81px;
  padding: 0.5em 1em; 
  box-sizing: border-box;
}

.counseling-tel {
    display: none;
}
.m-counseling {
    max-width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
}
.counseling-wrap {
    padding: 0 20px;
}
.counseling-time {
    max-width: 90%;
    margin: auto;
    background-color: rgba(255,255,255,0.3);
}
.btn-couxsnseling-wrap {
    display: flex;
    color: #fff;
    font-size: 12px;
    padding: 0.8em 0;
} 

.btn-click {
    text-decoration: underline;
    border: 1px solil blue;
    margin-left: auto;
}
.btn-counseling {
    display: block;
    padding: 1.2em 0;
    font-size: 14px;
    background-color: #FAD0C4;
    text-align: center;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 1em;
}
.btn-counseling:after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background: #E38A88;
}
.btn-counseling:hover:after {
    width: 100%;
    z-index: -1;
}
.btn-counseling:hover {
    color: #fff;
}
.btn-counseling:hover .path-arrow {
    stroke: #fff;
}

/*  footer-address  */
.footer-address {
    background-color: #4F4848;
}
.footer-address-container {
    color: #fff;
}
.footer-address-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid #fff;
}

.footer-address-top li:nth-child(1),.footer-address-top li:nth-child(2) {
    display: none;
}
.footer-address-top a {
    padding: 3em 1em;
    font-size: 6px;
}
.footer-address-bottom {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: 2em 0.5em;
}
.footer-logo {
    display: block;
    width: 58px;
    height: 58px; 
    background-image: url(./assets/icon/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-address-bottom li {
    margin: 0 auto;
    padding: 1em;
    font-size: 8px;
}

.address {
    font-weight: 300;
    line-height: 1.8em;
}

.btn-container {
    display:  none;
}

/*------------------------------ *  PopupModal * ------------------------------*/
.popup-container {position: absolute;  z-index: 9999;}
.popup-container-wrap {position: relative; left:0; height: 100vh;}
.popup-container-wrap img {width: 100%; height: 100%;  object-fit: cover;}
.popup-closed {position: absolute; top: 0; right: 0; padding: 0.7rem 1rem; cursor: pointer;}
.popup-closed-box {display: inline-block;}
.popup-closed-text {background-color: #3E2626; color: #fff; text-align: center; font-size: 12px;  cursor: pointer; padding: 0.5rem; margin-top: -0.5rem; font-family: 'Noto Sans KR';}

.backend-popup-input { width: 20%; padding: 10px 0px 10px 10px; font-size: 13px; color: #757575;border: 1px solid #ebebeb;border-bottom-color: #e2e2e2; margin-right: 0.5em;}

/*------------------------------ * 320px notices page * ------------------------------*/
.icon-notices {
  display: inline-block;
  background-image: url(./assets/icon/notice-icon.svg);
  vertical-align: sub;
  width: 17px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1em;
  
}
/* board-top-style */
.board-top-style {display:flex; justify-content: center; max-width:100%; height: 150px;background-image: url(./assets/images/board_img_01.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;}
.board-title-box {display:flex; justify-content: center; align-items: center; flex-direction:column;}
.board-title { font-size: 18px; color: #fff; margin-bottom: 0.2em; font-weight: 500;}
.board-title-box-line {
  display: block;
  width: 200px;
  height: 8px;
  background-image: url(./assets/images/board-line.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.board-text {
  font-family: Marcellus;
  font-size: 10px;
  color: #E5C5B9;
  margin-top: 1em;
  letter-spacing: 0.5em;
}
/* border-container */
.border-container  {padding: 20px;}
.board-list table {display: none;}
/* m-border */
.m-board-list {border-top: 1px solid #BDAEA7;  padding: 1em 0; display: flex; flex-wrap: wrap; flex-direction: column;}
.m-board-list:last-child {border-bottom: 1px solid #BDAEA7;}
.m-board {margin-bottom: 1em;}
.m-board span {display: inline-flex; font-size: 12px; align-items: center;}
.m-notices span:nth-child(1) {display: block; font-size: 14px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.m-notices span:nth-child(2) {margin-right: 1em; color: #757575;}
.m-notices span:nth-child(3) {margin-right: 1em; color: #757575;}

.m-consulting-text-wrap, .m-consulting-wrap {min-width: 100%;}
.m-consulting-wrap, .consulting-btn {margin-left: 1.5rem; margin-right: 0.5rem;}
.m-consulting-wrap {margin-bottom: 0.5rem;}
.consulting-btn-wrap {margin-left: 0;}

/* search */
.board-search {display: flex; flex-wrap: wrap; justify-content:center; align-items:center; margin-top: 1rem;}
.board-search div {width: 100px; border:none;}
.board-search span {position: relative; display: flex; justify-content: center; align-items: center;}
.board-search i {position: absolute; right: 5px; transition: 0.3s; margin-top: 0.2em; cursor: pointer;}
.board-search i:hover {opacity: 0.7;}
.board-input {width:180px; padding: 0.4em 0.5em; border: 1px solid #DFDFDF;}
.search-box {margin-left: 0.5em; margin-top: 0.5em;}
.btn-search {font-size: 12px; padding: 0.6em 1.5em; background-color: #777777; color: #fff; cursor: pointer; border-radius: 2px;}

/*------------------------------ * 320px notice page * ------------------------------*/
.border-body {border-bottom: 2px solid #A7938A; display: block; padding: 2rem 0; overflow: auto;}
.border-body img {max-width: 100%}
.border-header {display: flex; padding: 1rem 0;  color: #615454; font-family:'Noto Sans KR';}
.border-header-section {font-size: 16px; display: inline-block; margin-right: 1rem; color: #915857; font-weight: 700; }
.border-header-title {font-size: 16px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 40%; font-weight: 700; }
.border-header-bottom {display: flex; background-color: rgba(167,147,138,0.1); padding: 1rem; color: #615454; font-size: 8px; align-items: center;}
.border-view-name {font-family:'Noto Sans KR'; min-width: 35px; font-weight: 700;}
.border-view-body {display: block; margin-right: 1rem; display: inline-block;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  max-width: 70%; }
.border-header-bottom span:nth-child(5),.border-header-bottom span:nth-child(6),.border-header-bottom span:nth-child(7),.border-header-bottom span:nth-child(8) {display: none;}

.border-btn-wrap {display: flex; justify-content: flex-end; margin-bottom: 1rem;  }
.btn-borderList {display: inline-block; padding: 0.5em 2em; color: #615454; font-size: 12px; border: 1px solid #A7938A; cursor: pointer; margin-top: 1rem;}
.btn-delete {display: inline-block; padding: 0.5em 2em; color: #fff; font-size: 12px; border: 1px solid #615454; background-color: #615454; cursor: pointer; margin-top: 1rem;}
.prev-contianer {border: 1px solid #DFDFDF;}
.prev-wrap {display: flex; align-items: center; justify-content: center; color: #615454; font-size: 12px; width: 100%;} 
.prev-wrap-boder {border-bottom: 1px solid #DFDFDF;}
.border-arrow {width: 25%; border-right: 1px solid #DFDFDF; padding: 0.5em; text-align: center; }
.border-prev-body {width: 80%; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  padding: 0.5em 1em;}
.border-arrowSVG {padding-right: 0.5em;}
.notice-border-header-title {    font-size: 16px; display: inline-block;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  max-width: 70%; font-weight: 700;}

/*------------------------------ * 320px Login page * ------------------------------*/

.btn-signin {display: inline-block;  width: 290px; height: 40px; background-color: #E38A88; color: #fff; text-align: center; margin: 2rem auto; }
.btn-signin:disabled { cursor: not-allowed; color: #bdbdbd; }
.login-chekbox-container {padding: 2rem 0;  margin: 0 auto; max-width: 380px;}
.login-find {display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; flex-wrap: wrap;}
.btn-find {border: 1px solid #605043; color: #605043; width: 290px; padding: 0.5em 0; text-align: center; font-size: 12px; margin-top: 0.5em;}
.login-find-text {align-items: center; font-size: 12px; margin-right: 1em;}


/*------------------------------ * 320px CONSULTINGS page * ------------------------------*/
.border-topBtn-wrap {display: flex; padding-bottom: 0.5rem; vertical-align: text-bottom;}
.btn-all {font-size: 12px; font-weight: 700; color: #333; padding: 0.5em 1em; margin-right: 0.5rem; background-color: #fcfcfc; border: 1px solid #e5e5e5;} 
.btn-writing {display: flex; margin-left: auto; font-size: 12px; font-weight: 700; color: #fff; padding: 0.5rem 3rem; background-color: #E38A88; }
.btn-answer {cursor: pointer;  font-size: 12px; color: #fff; padding: 0.5em 1em; background-color: #594544;}
.border-header-bottom li:nth-child(5) {display: none;}
.border-header-bottom li:nth-child(6) {display: none;}
.border-header-bottom li:nth-child(7) {display: none;}
.border-header-bottom li:nth-child(8) {display: none;}

/*------------------------------ * 320px CONSULTING page * ------------------------------*/
.answer-wrap {border-bottom: 1px solid #A7938A; background-color: rgba(167,147,138,0.1); padding: 2rem 1em;}
.answer-title {color: #915857; font-weight: 700;}
.answer-text {padding-top: 1rem; color: #3E2626;}
.memo {background-color: rgba(167,147,138,0.5);}
.memo-title {color: #915857; font-weight: 700;}
.memo-text {padding-top: 1rem; color: #3E2626;}


/*------------------------------ * 320px CONSULTING create page * ------------------------------*/
.personal-information { background-color: rgba(167,147,138,0.1);}
.personal-information-wrap{display:flex; justify-content: center; font-size: 8px; flex-direction: column; padding: 1em; max-width: 1100px; margin: 0 auto;}
.personal-information-title { font-size: 12px;  padding: 0.5rem 0; background-color: #A7938A; color: #fff; font-weight: 700; text-align: center;}
.create-board-wrap {display:flex; flex-direction: column; }
.create-board-title {width: 200px; height: 100px; border: 1px solid red;}
.personal-information-textarea {height: 100px; overflow: scroll; padding: 1rem; background-color: #fff; margin-bottom: 1rem; font-size: 10px;}
.consulting-create-container {margin: 2rem 0;}
.consulting-create-wrap {border-top: 1px solid #3E2626; border-bottom: 1px solid #3E2626;}
.consulting-create-container li {border-bottom: 1px solid #DFDFDF; padding: 1rem  10px; display: flex; flex-wrap: wrap;}
.consulting-create-title {width: 100%; padding: 0.6rem 0px;}
.consulting-create-input {height: 20px; border: 1px solid #DFDFDF; padding: 10px 0px 10px 10px; font-size: 13px; color: #757575;}
.create-input-text {width: 100%;}
.create-input-email {width: 100%;}
.consulting-text {padding: 0.6rem 0; font-size: 12px;}

.m-border-view-body {font-weight: 500;}


.DayPickerInput input {width: 100%; height: 20px; border: 1px solid #DFDFDF; padding: 10px 0px 10px 10px; font-size: 13px; color: #757575;}

.consulting-col {width: 150px;}
.consulting-col-admin {width: 105px;}
.consulting-create-wrap .el-input__inner {border-radius: 0px; }
.consulting-create-wrap .el-select {width: 100%;}
.consulting-create-wrap .sun-editor .se-toolbar.se-toolbar-sticky,  .consulting-create-wrap .sun-editor .se-toolbar, .consulting-create-wrap .sun-editor .se-toolbar-sticky-dummy {display: none; height: 0;}

.answered,.notAnswer {max-width: 42px; padding: 0.5em 1em; font-size: 12px; font-weight: 700; margin: 0 auto; text-align: center;}
.notAnswer {border: 1px solid #999999; background-color: #f1f1f1; color: #999999;}
.answered {border: 1px solid #E38A88; background-color: #FDF8F7;color: #E38A88;}

.icon-consulting {
  display: inline-block;
  background-image: url(./assets/icon/lock_icon.svg);
  width: 10px;
  height: 14px;
  margin-right: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.border-create-btn-wrap {display: flex; justify-content: center; margin-bottom: 2rem;}
.border-create-btn-wrap li:nth-child(1) {margin-right: 1rem;}
.btn {font-size: 12px; padding: 0.8em 4em; cursor: pointer;} 
.btn-create {color: #fff; background-color: #E38A88; border: 1px solid #E38A88;}
.btn-cancel {color: #757575; border: 1px solid #757575; padding: 0.8em 4.5em;}


/*------------------------------ * 320px CONSULTING answer page * ------------------------------*/
.answer-board-container {margin: 4rem 0;}
.answer-board-wrap {border-top: 1px solid #3E2626; border-bottom: 1px solid #3E2626;}
.answer-board-wrap li {border-bottom: 1px solid #DFDFDF; padding: 1rem  10px; display: flex; flex-wrap: wrap;}
.answer-board-text {font-size: 14px; font-weight: 500; width: 100%; border: 1px solid #DFDFDF; padding: 10px; color: #333; background-color: #fcfcfc; border: 1px solid #e5e5e5;}
.DayPickerInput-OverlayWrapper {z-index: 99;}

/*------------------------------ * 320px EVENTS page * ------------------------------*/
.event-list {box-sizing: border-box;}
.event-item {position: relative; display: flex; flex-direction: column; margin-bottom: 2rem; cursor: pointer;}
.event-fixation {position: absolute; top: 0; left: 0; font-size: 12px; font-weight: 700; color: #fff; padding: 0.5rem 1em; box-shadow: 0 5px 5px 0 rgba(0,0,0,0.10);} 
.event-img { height: 0; padding-bottom: 50%; overflow: hidden;}
.event-img img {width: 100%; background-repeat: no-repeat; background-position: center; background-size: cover; }
.event-desc {position: relative; flex: 1 1 auto; padding: 1em 0; background: white; color: #615454;}
.event-desc-wrap {max-width: calc(100% - 100px);}
.event-title {font-size: 14px; font-weight: 700; margin-bottom: 4px; font-weight: 700; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.event-content {display: flex; justify-content: space-between;}
.event-date { color: #757575; font-size: 10px;}
.btn-event-page {position: absolute; top:0; right: 0; font-size: 12px; font-weight: 700; margin: 1em 0; padding: 0.8em 1em; }
.event-border-header-title {font-size: 16px; display: inline-block; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; max-width: 100%; font-weight: 700;}

/*------------------------------ * 320px BeforeAfter page * ------------------------------*/
.blur-box {width: 50%; height: 100%;  position: absolute; top: 0; left: 0; z-index: 10; background-color: rgba(38, 32, 32, 0.9); display: flex; flex-direction: column; align-items: center; color: #fff;}
.blur-box-desc {margin: auto 0; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;}
.blur-icon-lock {width:18px; height:34px;}
.btn-blur-login {display: inline-block; cursor: pointer; font-size: 8px; cursor: pointer; border: 1px solid #fff; padding: 0.5em 1em;}
.blur-box-en,.blur-text {display: none;}

.board-list .el-carousel__container {height: 0; padding-bottom: 40%;}
.border-container .el-pager li.active {border-color: #E38A88; background-color: #E38A88;}
.beforeAfter-fix-text {font-weight: 700; margin-right: 1em; color: #E38A88;}
.board-list .el-radio-group {display: flex;}
.board-list .el-radio-button { flex-basis: 100%; color: #E38A88; margin-right: -1px}
.board-list .el-radio-button__inner:hover {color: #E38A88;}
.board-list .el-radio-button .el-radio-button__inner {border: 1px solid #DFDFDF; background-color: #F2F2F2; color: #757575; font-weight: 500;}
.board-list .el-radio-button:first-child .el-radio-button__inner {border-radius: 0;}
.board-list .el-radio-button:last-child .el-radio-button__inner {border-radius: 0;}
.board-list .el-radio-button__orig-radio:checked+.el-radio-button__inner { background-color: #E38A88; border-color: #E38A88; box-shadow: -1px 0 0 0 #E38A88;}
.board-list .el-radio-button__inner {width: 100%; padding: 10px 10px; font-size: 8px;}

.board-list .el-carousel__indicator {background-color: #fff; display: inline-flex; justify-content: center;}
.board-list .el-carousel__indicators {bottom: 0; position: absolute; left: 0; right: 0;}
.board-list .el-carousel__indicators li {padding: 0.5em 0.5em; border:1px solid #DFDFDF; background-repeat: no-repeat; background-position: top; background-size: cover; margin-right:-1px;}
/* .board-list .el-carousel__indicators li:nth-child(1) { background-image: url(./assets/images/radio_button_01.png); } */
/* .board-list .el-carousel__indicators li:nth-child(2) { background-image: url(./assets/images/radio_button_02.png); } */
/* .board-list .el-carousel__indicators li:nth-child(3) { background-image: url(./assets/images/radio_button_03.png); } */
.board-list .el-carousel__indicators--outside {z-index: 20;}
.board-list .el-carousel__indicators--outside button {background-color: rgba(255,255,255,0.0);}
.board-list .el-carousel__indicator.is-active button {opacity: 0;}
.board-list .el-carousel__indicator.is-active {background-color: rgba(229,197,185,0.8);}
.beaf-Body {padding: 1em 0 ;}
/* card-list */
.board-list .card-desc-main {font-size: 12px; font-weight: 700;}
.card-item {position: relative; width: 32%; display: flex; overflow: hidden; flex-direction: column; margin-right:2%; margin-top: 0.5rem; box-sizing: border-box; border: 1px solid #DFDFDF;}
.card-item:nth-child(3){margin-right: 0;} 
.card-item:nth-child(6){margin-right: 0;} 

.card-list { display: flex;  flex-wrap: wrap;}
.card-image {height: 0; padding-bottom: 40%; background-color: #fff; }
.card-image img {width: 100%; background-repeat: no-repeat; background-position: top; background-size: cover;}
.before-stapm {position: absolute; top: 0; display: inline-block; color: #757575; font-size: 10px; padding: 0.3em 0.5em; font-weight: 700;}
.stapm-position-left {left: 0;}
.stapm-position-right {right: 0;}
.card-desc { z-index: 10; font-size: 8px; flex: 1 1 auto;  padding: 0.3em;  background-color: #F2F2F2;  box-sizing: border-box; text-align: center; color: #615454; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.card-desc p {display: inline-block; width: calc(50% - 1em); }
.card-blur-icon-lock {width:18px; height:14px; margin: auto 0; padding-bottom: 1.5rem; fill: rgba(255,255,255,0.4);} 

@media (min-width: 1024px) { 
  .card-desc {font-size: 14px;}
  .board-list .el-radio-button__inner {padding: 15px 15px; font-size: 14px;}
}
/*------------------------------ * 320px condition * ------------------------------*/
.condition-box {background: #f6f6f6;  padding: 2rem;}
.condition-text {font-size: 12px; font-family: 'Noto Sans KR'; line-height: 1.2rem; }











/*------------------------------ * 320px etc page * ------------------------------*/
.content {display: block; width: 100%; height: 1500px; background-image: url(./assets/images/infor_02.jpg);  background-repeat: no-repeat; background-size: cover; background-position: top; margin: 0 auto;}

/*------------------------------ * 1024px etc page * ------------------------------*/
@media (min-width: 1024px) {
  .m-nav-menu {display: block;}
}



/*------------------------------ * 320px backend * ------------------------------*/
/* backend -- header */
.backend-menu-logo {padding: 4rem 0; }
.icon-home {background-image: url(./assets/icon/backend-logo.svg); display: block; height: 80px; width: 80px;  background-repeat: no-repeat; background-size: cover; background-position: center; margin: 0 auto;}

.backend-container {display: flex; flex-wrap: wrap;}
.backend-aside-menu { width: 100%; position: fixed; bottom: 0; top: 0;}
.backend-menu { display: block; width: 20%; height: 100%; background-color: #615454; color: #fff; font-size: 14px; font-weight: 500;}
.backend-menu-list {border-bottom: 1px solid rgba(0,0,0,0.1);  padding: 1rem 2rem;}


.backend-body-container {width: 100%; margin-left: 20%; z-index: 100;}
.backend-body {padding: 4rem; }
.border-btn-wrap li {margin-left: 0.5rem;}
.btn-backbend {font-size: 12px; font-weight: 500; border: 1px solid rgba(0,0,0,0.05); border-radius: 3px; color: #fff;}
.btn-backbend:hover {color: rgba(255, 255, 255, .87) !important; box-shadow: inset 0 -10rem 0 rgba(158, 158, 158, .2);}
.btn-warning {background-color: #f77a99; padding: 0.5em 1em; margin-right: 0.5rem;}
.btn-check {background-color: #777777; padding: 0.5em 1em; margin-right: 0.5rem;}
.btn-edit {background-color: #6cc788; padding: 0.5em 1em; margin-right: 0.5rem;}
.btn-backend-writing {display: flex; margin-left: auto; padding: 0.5rem 3rem; background-color: #6cc788;}

/* backend -- boardTop-style */
.backend-boardTop-style {background-color: rgba(0, 0, 0, .090); padding: 1.5rem 1rem;}
.backend-boardTop-title {font-size: 16px; color: rgba(0, 0, 0, .87); font-weight: 500; }
.backend-boardTop-text {font-size: 12px; padding-top: 0.5em; color: rgba(0, 0, 0, .5);}
/* backend -- All */
.backend-table-wrap {box-shadow: 0 0 1px rgba(0, 0, 0, .15); border-radius: 3px;}
.backend-topBtn-wrap { padding: 1rem}
.col-150 {width: 150px;}

.backend-body-container thead { font-weight: 700; text-align: center; border-top: 1px solid rgba(0, 0, 0, .15);}
.backend-body-container thead tr td{padding: 1rem;}
.backend-body .el-pager li.active{ border-color: #bfcbd9; background-color: #bfcbd9;}
.backend-body .el-pager li:hover { color: #777777; }

.backend-tbody td {padding: 1rem 0; cursor: pointer;}
.backend-tbody {text-align: center;}
.backend-tbody tr:nth-child(odd) {background-color: rgba(0, 0, 0, .050);}

/* backend -- col */
.col-03 td:nth-child(3) { text-align: left; padding: 0 2rem; max-width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.col-04 td:nth-child(4) { text-align: left; padding: 0 2rem; max-width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

/* backend -- 360px consultings read */
.backend-board-wrap, .backend-board-create-wrap {border: 1px solid rgba(0,0,0,0.05); }
.backend-board-wrap>li, .backend-board-create-wrap>li {width: calc(100% - 2rem); display: flex;  flex-wrap: wrap; padding: 1rem; align-items: center;}
.backend-board-wrap>li:nth-child(1) {border-top: 1px solid rgba(0, 0, 0, .15);}
.backend-board-wrap>li:nth-child(even) {background-color: rgba(0, 0, 0, .050);}
.backend-board-title {min-width: 10%; }
.backend-board-text {width: 90%; font-size: 14px; font-weight: 500; color: #333;}

.beforeAfter-img-card {display: flex; width: 100%;}
.beforeAfter-img-card-list{ max-width: 50%; display: flex;  flex-direction: column; margin-bottom: 1rem;}
.beforeAfter-img-title {background-color: #777777; font-size: 14px; padding: 1em; color: #fff; font-weight: 700;}
.beforeAfter-img-title:nth-child(1) {border-right: 1px solid #fff;}
.beforeAfter-img {max-width: 100%;}

.consulting-answer-title {font-size: 18px; padding: 1rem;}
.answer-body {padding: 0 4rem 1rem 4rem;}

/* backend -- 360px consultings create */
.event-create-body {padding: 4rem 4rem 1rem 4rem;}
.backend-board-create-wrap>li {border-top: 1px solid rgba(0, 0, 0, .15);}
.backend-board-create-input {width: 95%; padding: 10px 0px 10px 10px; font-size: 13px; color: #757575; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2;}
input[class="backend-file-input"] {padding: .5em .75em; color: #999; font-size: 13px; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2;}

.backend-beforeAfters-create-photo-wrap {display: flex;  border-top: 1px solid #ebebeb;}
.backend-create-photo {display: flex; flex-direction: column; width: 50%; margin: 2rem 1rem;}

/* edit-profile */
.register--form .edit-profile-box {display: flex; align-items: center; }
.register--form .edit-profile-text {background-color: #ccc; border: 1px solid #ccc;}

/* reset-password */
.reset-password-container {border-bottom: 0;}
.reset-password-btn-container { display: flex; align-items: center; justify-content: center; margin-bottom: 2rem; margin-top: -1rem;}
.btn-home-wrap {display: flex; align-items: center; justify-content: center;}
.btn-home {padding: 0.5rem 1rem; border: 1px solid #3E2626; margin-top: 1rem;}


/* Look_around */
/* .around-main-img {display: block; width: 100%; height: 500px; }
 */











/* -- grid -- */
/* main-program-contents */




/*------------------------------ * main-info-contents * ------------------------------*/
.info-container { display: grid; grid-template-columns: 1fr 160px 160px 1fr; 
    display: -ms-grid; -ms-grid-columns:1fr 160px 160px 1fr; }
.cardlist-01 { grid-column: 2 / 4; grid-row: 1 / 2; 
   -ms-grid-column: 2; -ms-grid-column-span: 2; -ms-grid-row: 1;}
.cardlist-02 { grid-column: 2 / 4; grid-row: 2 / 3; 
   -ms-grid-column: 2; -ms-grid-column-span: 2; -ms-grid-row: 2;}

/* style-- main-info -- */
.main-title-box-line {width: 300px;}

/* -- footer-sns-container */
.footer-sns-container {display: flex; flex-direction: row; justify-content: center;}


/* -- 600px media -- */
@media (min-width: 600px) {
/* -- GRID -- main-program-contents */


/* main-info-contents */
.info-container {  grid-template-columns: 1fr 280px 240px 1fr; 
-ms-grid-columns:1fr 280px 240px 1fr;}

/*------------------------------ * 600px main page * ------------------------------*/
.main-title-box {padding: 5rem 0 2rem 0;}
.program-card-text {font-size: 6px;}
.card-text { font-size: 10px; letter-spacing: 0;}
.info-cardList { padding: 0 0;}

.info-img {max-width: 220px; }
.info-card-desc {left: 88px; width: 35%;}
.banner-container {padding-left: 20%;}
.sns-btn{width:120px; height: 120px;}
.sns-list {padding: 0 0.5em;}
.sns-icon {height: 30px;}
.sns-title {padding-top: 0.5em; font-size: 12px;}
.sns-text {font-size: 18px; height: 40px;}
.sns-btn:hover .sns-text{ font-size:1.5em;}

/* footer-counseling */
.counseling-wrap {padding: 0 85px;}
.counseling-time { max-width: 69%; }
.m-counseling {max-width: 65%;}
.footer-address-top a {padding: 1em 2em; font-size: 14px;}
.footer-address-top a:hover { color: rgba(255,255,255,0.5);}
.footer-address-bottom li {font-size: 14px;}
.footer-logo {width: 80px;height: 80px;}

/*------------------------------ * 600px notice page * ------------------------------*/
.border-header {padding: 1rem;}
.border-body {padding: 2rem 0rem;}
.btn-borderList {padding: 0.5em 3em;}
.btn-delete {padding: 0.5em 3em;}


/*------------------------------ * 600px register page * ------------------------------*/
.auth-container {padding: 4rem 0;}
.register--form .register--input {width: 380px;}
.register__chekbox--container {width: 380px; padding: 1rem 4rem;}
.register--checkbox {width: 290px; padding: 18px 45px; }
.chk--text {font-size: 14px;}



/*------------------------------ * 600px login page * ------------------------------*/
.btn-signin {width: 380px;}
.btn-find { width: 100px; margin-top: 0;}
.login-find { justify-content:space-between; }

/*------------------------------ * 600px BeforeAfter page* ------------------------------*/
.board-list .el-carousel__indicators li {padding: 1em 2em;}
.board-list .card-desc-main {font-size: 14px;}
.card-desc {padding: 0.8em;}
.blur-box-desc {width: 180px;}
.blur-icon-lock {width:28px; height:44px;}
.blur-text {display:inline-block; font-size: 12px; margin: 0.5em 0;}
.blur-box-en {display:inline-block; position: absolute; letter-spacing: 1em; font-size: 10px;  padding: 1rem 0 0.5rem 0; margin: 0 auto;}
.btn-blur-login {display: inline-block; padding: 1em 3em; font-size: 12px; display: inline-block; color: #fff; background-color: #E38A88; border:none; text-align: center; position: relative; z-index: 1; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -ms-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s;}
.btn-blur-login:after {content: "";width: 0%;height: 100%;position: absolute;top: 0;left: 0;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;-ms-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;background: #fff;}
.btn-blur-login:hover:after {width: 100%;z-index: -1;}
.btn-blur-login:hover {color: #E38A88;}
.btn-blur-login:hover .banner-arrow {stroke: #E38A88;}
.card-blur-icon-lock {width:28px; height:24px; margin: auto 0; padding-bottom: 1.5rem;} 

/*------------------------------ * 600px CONSULTING page * ------------------------------*/
.answer-wrap { padding: 2rem 2rem;}
.border-header-bottom li:nth-child(5) {display: block;}
.border-header-bottom li:nth-child(6) {display: block;}
.border-header-bottom li:nth-child(7) {display: block;}
.border-header-bottom li:nth-child(8) {display: block;}

.m-consulting-wrap, .m-consulting-text-wrap {align-items: center;}
.m-consulting-text-wrap {min-width: 40%;}
.m-consulting-wrap {min-width: 100px; text-align: left; align-items: left; }
.consulting-btn-wrap {margin-left: auto;}

/*------------------------------ * 600px CONSULTING create page * ------------------------------*/
.personal-information-wrap{font-size: 14px; padding: 3em;}
.personal-information-title,.personal-information-textarea  { font-size: 14px;}  
.consulting-create-container {margin: 4rem 0;}
.consulting-create-container li {padding: 1rem  40px;}
.consulting-create-title {width: 17%;padding: 0.6rem 0;}
.create-input-text {width: 75%;}
.create-input-email {width: 32%;}
.consulting-text {padding: 0.6rem 1rem; font-size: 14px;}
.consulting-create-wrap .sun-editor .se-toolbar.se-toolbar-sticky, .consulting-create-wrap .sun-editor .se-toolbar, .consulting-create-wrap .sun-editor .se-toolbar-sticky-dummy {display: block; height: 176px;}
.m-border-view-name {display: block;}
.consulting-create-wrap .el-select {width: 35%;}
.border-header-title {max-width: 70%; font-weight: 400;}

/*------------------------------ * 600px CONSULTING answer page * ------------------------------*/
.answer-board-text{width: 75%;}
.answer-board-text {font-size: 16px;}

/*------------------------------ * 600px EVENTS page * ------------------------------*/
.event-list { display: flex; flex-wrap: wrap; margin: 0 -1rem;}
.event-item {width:calc(50% - 40px); padding: 0 20px; }
.event-fixation {left: 20px;}

.btn-forgotten_password {width: unset; padding: 0.2em 2em; margin: 0 0 0 0.5em; }
.forgotten_password-input {width: unset;}


  } 

/* -- 1024pxmedia -- */
@media (min-width: 1024px) {
  /* header */
  .m-header {display: none;} 
  .header { display: grid; display: -ms-grid; grid-template-columns: 1fr 180px 1fr; 
    display: -ms-grid; -ms-grid-columns:1fr 180px 1fr; }
  .header--top { grid-column: 3 / 4; grid-row: 1 / 2; 
    -ms-grid-column: 3; -ms-grid-row: 1;}
  .header-logo-container { grid-column: 2/3; grid-row: 1 / 3;
      -ms-grid-column: 2; -ms-grid-row: 1; -ms-grid-row-span:2;}
  /* -- header nav */
  .nav { grid-column: 1 / 4; grid-row: 2 / 3; 
     -ms-grid-column: 1;-ms-grid-column-span: 3; -ms-grid-row: 2;}
  .logo { display: block; width: 180px; height: 115px; cursor: pointer; background-color: #E38A88; background-image: url(./assets/icon/logo.svg); background-position: center;background-repeat: no-repeat;background-size: 81px;}
 
  .header-logo-container::before {
      content: "";
      width: 100%;
      border-top: 0.5px solid #DAB2AB;
      position: absolute;
      top: 40px;
      left: 0;
      z-index: -99;
  }

  .header--top ul { display: flex;   width: 410px; justify-content: flex-end;}
  .header--top ul>li {display: inline-flex;}
  .header--top a{
      padding: 0.9em 0;
      margin: 0 0.5em;
      display: inline-block;
      font-size: 12px;
      color: #999999;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
  }
  .header--top li:first-child::after {
      content: "|";
      display: block;
      font-weight: 100;
      padding-top: 0.7em;
      color: #999999;
  }
  .header--top a:hover {color: #E38A88;}
  .none-box {display: block; padding: 35px 90px; z-index: 99;}


  .menu {display: flex; width: 1000px; margin: 0 auto; height: 74px; }
  
.menu .menu-item {
  /* background: gold; */
  position: relative;
  width: 25%;
  transition: 0.5s;
}
.menu-item:hover .menu-link{color:  #E38A88;}
.menu-item:hover .menu-list {display: block; position: absolute; top: 74.5px; left: 50%;  transform: translate(-50%,0%);}



  .menu-item .menu-link {
      font-family: 'Noto Sans KR';
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 1.9em 0;
      font-size: 14px;
      color: #757575;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
  }

.menu-link {font-family: 'Noto ans KR';}S
.menu-link:hover {color:  #E38A88;}
  
.menu-list {display: none; background-color: rgba(0,0,0,0.5); color: #fff; width: 100px;}
.menu-list-item {display: flex; justify-content: center; padding: 0.5rem 0; transition: all 0.4s;}
.menu-list-item:hover {background-color: #E38A88;}










  .btn-container {  display: inline-flex; align-items: center; justify-content: center;}
  .event-link {
      box-sizing: border-box;
      border: 1px solid #F8D7D1;
      background-color: #FDF8F7;
      border-radius: 20px;
      padding: 0.5em 1em;
      font-weight: 700;
      color: #594544;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
  }

  .event-link:hover {
      border: 1px solid #E38A88;
      background-color: #F8D7D1;

  }
  .btn-event {font-size: 12px;}
  .event-link .btn-event img{
 
    vertical-align: sub;
    width: 18px;
    height: 18px;
    padding-right: 0.2em;
  }
  /* banner */
  .banner-img {min-width: 100%; height: 600px; }
  .banner-container {
      width: 1000px;
      padding-left: 10%;
  }
  .banner-text {
      width: 521px;
      height: 255px;
      background-size: cover;
      margin-bottom: 1em;
  }


  /* style--main-title */
  .main-title-box { padding: 8rem 0 4rem 0; }
  .main-title-box-line { width: 512px; height: 13px;}
  .main-title { font-size: 30px;}
  .main-text {font-size: 16px;}

    /* main-program-contents */
  




  /* style-- main-program -- */
  .program {padding: 0 0; }
  .program-cardList {height: 345px;}
  .program-card-text {font-size: 8px;}
  .program-link:hover .btn-card-desc {padding-top: 9em;}
  .card-text {font-size: 14px;}
  .card-title {font-size: 34px;}


  /* ma /* main-info-contents */
    .info-container {grid-template-columns: 1fr 492px 492px 1fr; grid-template-rows: 1fr; gap: 20px;
        -ms-grid-columns:1fr 492px 492px 1fr; -ms-grid-row:1fr;}
    .cardlist-01 { grid-column: 2 / 3; grid-row: 1 / 2; 
        -ms-grid-column: 2; -ms-grid-row: 1;}
    .cardlist-02 { grid-column: 3 / 4; grid-row: 1 / 2; 
        -ms-grid-column: 3; -ms-grid-row: 1;}
    

  /* -- main-info-contents */
  .info-img {max-width: 290px; height: 380px;}
  .info-text-sub, .info-name-en {font-size: 16px;}
   .info-text {font-size: 16px; width: 290px;}
  .info-name {font-size: 33px;}
  .info-card-desc { top: 4rem; left: 0; width: 57%;}
  .icon-petal { width: 23.513px; height: 24.909px; }

  /* -- main notice */
    .notice-container { display: grid; grid-template-columns: 1fr 472px 472px 1fr; gap: 20px;
        display: -ms-grid; -ms-grid-columns:1fr 472px 472px 1fr; }
    .notice-01 { grid-column: 2/3; grid-row: 1/2; 
        -ms-grid-column: 2; -ms-grid-row: 1;}
    .notice-02 { grid-column: 3/4; grid-row: 1/2; 
        -ms-grid-column: 3; -ms-grid-row: 1;}
  /* style--notice */
  /* notice */
  .notice { display:block; margin-bottom: 10rem; }
  .notice-wrap { position: relative; flex-direction: column; }
  .onlin-title {
      display: block;
      padding: 0.5em 0;
      font-size: 24px;
      font-weight: 500;
      text-align: left;
  }
  .btn-notice {
      position: absolute;
      top:0;
      right: 0;
      font-family: Marcellus;
      font-size: 36px;
      font-weight: 300;
      color: #999999;

      padding: 0.2em 0.5em;
      text-align: right;
      transition: all 0.4s;
  }
  .btn-notice:hover { color: #E38A88; }
  .notice-online-table {
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      border-top: 2px solid #DFDFDF;
      border-bottom: 1px solid #DFDFDF;
  
  }
  .notice-online-table td {
      border-bottom: 1px solid #DFDFDF;
      padding: 1em 0 1em 2em;
  }
.notice-space { max-width: 210px; white-space: nowrap;  text-overflow: ellipsis; overflow: hidden; }
  .table-type { color: #E38A88; font-weight: 500; }
  .icon-lock { vertical-align: unset; }




  /* style--footer-sns-container */
  .sns-btn {height: 173px; width: 173px;}
  .sns-icon {height: 48px;}
  .sns-title {padding-top: 0.5em; font-size: 14px;}
  .sns-text {font-size: 21px; height: 40px;}
  .sns-btn:hover .sns-text {font-size: 28px;}

    /* footer-counseling-container */
    .footer-counseling-container {display: grid; grid-template-columns: 1fr 234px 310px 343px 1fr; grid-template-rows: 1fr; gap: 40px;
        display: -ms-grid; -ms-grid-columns: 1fr 234px 310px 343px 1fr; -ms-grid-rows:  1fr;}
    .counseling-01 { grid-column: 2 / 3; grid-row: 1 / 2; 
        -ms-grid-column: 2; -ms-grid-row: 1;}
    .counseling-02 { grid-column: 3 / 4; grid-row: 1 / 2; 
        -ms-grid-column: 3; -ms-grid-row: 1;}
    .counseling-03 { grid-column: 4 / 5; grid-row: 1 / 2; 
        -ms-grid-column: 4; -ms-grid-row: 1;}
  /* style--footer-counseling */ 
  .m-counseling {display: none;}
  .footer-counseling-container {padding: 60px 0;}
  .counseling-tel {display: block; width: 100%;}
  .counseling-02 textarea {height: 60px;  margin-bottom: 0;}
  .counseling-time {max-width: 100%;}


 /* -- footer-sns-container */
    .footer-sns-container {grid-template-columns: 1fr 180px 180px 180px 180px 1fr; gap: 20px;
        -ms-grid-columns: 1fr 180px 180px 180px 180px 1fr;
    }
    .sns-01 { grid-column: 2 / 3; grid-row: 2 / 2; 
        -ms-grid-column: 2; -ms-grid-row: 2;}
    .sns-02 { grid-column: 3 / 4; grid-row: 2 / 2; 
        -ms-grid-column: 3; -ms-grid-row: 2;}
    .sns-03 { grid-column: 4 / 5; grid-row: 2 / 2; 
        -ms-grid-column: 4; -ms-grid-row: 2;}
    .sns-04 { grid-column: 5 /6; grid-row: 2 / 2; 
        -ms-grid-column: 5; -ms-grid-row: 2;}
  /*  style-footer-address  */
  .footer-address-top {max-width: 100%; }
  .counseling-wrap {padding: 0; margin: 0 1em;}
  
  .footer-address-top li:nth-child(1),.footer-address-top li:nth-child(2) {display: block;}
  .footer-logo {width: 92px; height: 92px;} 
  .footer-address-bottom {flex-direction: row; padding: 0;}
  .footer-address-bottom li {margin: 0; font-size: 16px;}
  .footer-address-bottom li:nth-child(1) {padding: 3.5em 3em;}
  .footer-address-bottom li:nth-child(2) { padding: 3em;}
  .footer-address-bottom li:nth-child(3) { padding-right: 1em;}
  .footer-address-bottom li:nth-child(4) {padding-right: 1em;}
  .footer-kakao {
      display:  block;
      width: 48px;
      height: 44px; 
      background-image: url(./assets/icon/footer_kakao_icon.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }
  .footer-blog {
      display: block;
      width: 48px;
      height: 44px; 
      background-image: url(./assets/icon/footer_blog_icon.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }
  .footer-insta {
      display: block;
      width: 48px;
      height: 44px; 
      background-image: url(./assets/icon/footer_Instagram_icon.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }

  /*------------------------------ * 1024px notice page * ------------------------------*/
  /* board-top-style */
  .board-top-style {height: 280px;}
  .board-title { font-size: 28px; }
  .board-title-box-line { width: 500px; height: 14px; }
  .board-text { font-size: 16px; }
  /* -- notice page-- */
  .border-container {padding: 100px 80px;}
  .notice-col {width:200px;}
  .m-board {display: none;}
  .board-search {margin-top: 2rem;}
  .board-list table {display: table;}
  .board-list {max-width: 1180px; margin: 0 auto; } 
  .board-list thead {
    color: #615454;
    font-weight: 700;
    text-align: center;
    background-color: rgba(167,147,138,0.2);
  }
  .board-list thead td {padding: 1em 0; border-bottom: 1px solid #BDAEA7;}
  .board-list tbody {text-align: center; color: #757575;}
  .board-list tbody td {border-bottom: 1px solid #DFDFDF; padding: 1rem 0;}
  
  .board-input {width:200px;}
  .border-header-section {font-size: 21px; margin-right: 2rem; }
  .border-header-title {font-size: 21px; max-width: 80%; font-weight: 700;}
  .event-border-header-title,.notice-border-header-title {font-size: 21px;}
  .border-view-body {margin: 0 3rem 0 1em;}
  .border-header-bottom {font-size: 14px;}
  .prev-wrap {font-size: 14px;}
  .border-arrow {width: 10%;}
  .border-prev-body {width: 90%;}
  .border-arrowSVG {padding-right: 1em;}
  .beaf-Body {padding: 2em 0;}


/*------------------------------ * 1024px register page * ------------------------------*/
.register__chekbox--container {width: 500px; padding: 2rem 14.5rem;}
.register--checkbox {width: 410px;}
.register--form .register--input {  width: 500px;}

/*------------------------------ * 1024px logoin page * ------------------------------*/
.btn-signin {width: 500px;}
.login-find-text {font-size: 14px;}
.login-find {display: flex;}
.login-chekbox-container {max-width: 500px;}
.btn-find { width: 140px;}
/*------------------------------ * 1024px BeforeAfter page* ------------------------------*/
.board-list .el-carousel__indicators li {padding: 1.4em 3em;}
.board-list .card-desc-main {font-size: 18px;}
.card-item {margin-top: 1rem; }
.blur-box-en {font-size: 12px; padding: 2rem 0;}
.blur-box-desc {width: 210px;}
.blur-text {font-size: 14px; margin: 1rem 0;}
.blur-icon-lock {width:48px; height:64px;}

/*------------------------------ * 1024px CONSULTING create page * ------------------------------*/
.consulting-create-title {width: calc( 20% - 120px ); padding: 0.6rem 40px;}
.create-input-text {width: 80%;}
.create-input-email {width: 20%;}
.consulting-create-wrap .el-input__icon+.el-input__inner {padding: 20px 0 20px 50px;}
.consulting-create-wrap .el-select {width: 21%;}

/*------------------------------ * 1024px EVENTS page * ------------------------------*/
.event-fixation {font-size: 16px;}
.btn-event-page {font-size: 16px; margin: 0.8em 0;}
.event-desc-wrap {max-width: calc(100% - 140px);}
.event-title {font-size: 18px;}
.event-date {font-size: 14px;}
}



@media (min-width: 1280px) {
  /* style--header */
  .header--top ul {width: 487px;}
  /* main-program-contents */


  /* -- main-info-contents */
   .info-container {grid-template-columns: 1fr 580px 580px 1fr;
        -ms-grid-columns:1fr 580px 580px 1fr;}
  .info-img {max-width: 352px; height: 475px;}
  .info-card-desc { width: 52%;}
  .menu {display: flex; width: 1180px;}

  /* -- main notice */
  .notice-container { display: grid; grid-template-columns: 1fr 524px 524px 1fr;  gap: 0;
    display: -ms-grid; -ms-grid-columns: 1fr 524px 524px 1fr; }
  .notice-01 { grid-column: 2/3; grid-row: 1/2; margin-right: 4em;
        -ms-grid-column: 2; -ms-grid-row: 1;}
  .notice-02 { grid-column: 3/4; grid-row: 1/2; margin-left: 4em;
        -ms-grid-column: 3; -ms-grid-row: 1;}

  /* footer-counseling-container */
  .footer-counseling-container { grid-template-columns: 1fr 286px 380px 420px 1fr;
      -ms-grid-columns: 1fr 286px 380px 420px 1fr;}
  /* style--footer-counseling */ 
  
  .footer-counseling-container {padding: 60px 0;}
  .counseling-02 textarea {height: 134px;  margin-bottom: 0;}

   /*  style-footer-address  */
   .footer-address-bottom li:nth-child(1) {padding: 4.5em 6em;}
   .footer-address-bottom li:nth-child(2) { padding: 4em 10em 4em 0;}
   .footer-address-bottom li:nth-child(3) { padding-right: 2em;}
   .footer-address-bottom li:nth-child(4) {padding-right: 2em;}

  /*------------------------------ * 1280px notice page * ------------------------------*/
   .border-header-title {font-size: 21px; width: 1000px;}


  }