
 /* 여백 초기화 */
 body,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,textarea,p,
 select,button,figure{margin: 0; padding: 0;}
 
 /* 폰트 초기화 */
 body,input,textarea,select,button,table{
     font-family:  'Poppins', 'Noto Sans KR', 'Merienda One', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', sans-serif, cursive; font-size: 14px; color: #3E2626;}
 
 
 /* 폰트 스타일 초기화 */
 em, address {font-style: normal;}
 
 /* list-style 초기화 */
 ul,li,ol {list-style: none;}
 
 /* 제목 태그 초기화 */
 h1,h2,h3,h4,h5,h6 {font-size: 36px; line-height:1.5;}
 
 p { font-family: 'Poppins','Noto Sans KR', sans-serif; line-height:1.5;}
 
 /* a 링크 초기화 */
 a {color: inherit; text-decoration: none; font-family:'Poppins','Noto Sans KR', sans-serif;}
 
 /* 이미지 초기화  */
 img {border:0;}
 
 /* table 초기화 */
 table {width: 100%; border-spacing: 0; border-collapse: collapse;}
 
 /* ir 효과 */
 .ir {width: 0; height: 0; font-size: 0; line-height: 0; position: absolute; left: 0; top: 0; overflow: hidden;}
 
 /* button 초기화 */
 button { background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer }
 select { cursor: pointer; outline: none; background: none; border-radius: 0; -moz-appearance: none; -webkit-appearance: none;}
 
/* input 초기화 */
input:focus, textarea:focus, button:focus, select:focus {outline: none;}
.form-input:focus {border:1px solid #E38A88;}

/*register__chekbox  none*/
.chk-box-none {
  line-height: normal;
  outline-style : 1px;
  border-style: none;
  border-radius: 0; 
  /* 브라우저별 기본 스타일링 제거 */
  -webkit-appearance: none;  
  -moz-appearance: none;
  appearance: none; 
}


/* this is for custom font family for react quill(Custom_Image_Font_Quill.js)*/
.ql-font-nanum-gothic,
.ql-font span[data-value="nanum-gothic"]::before {
  font-family: "Nanum Gothic", sans-serif;
}
.ql-font-arial,
.ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New";
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}