
    

.card_skeleton-container {
    position: relative;
}

.card_skeleton-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
   
}

.card_skeleton-items {
    flex: 1;
}

.card_skeleton-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;

}

.card_skeleton-left-items {
    flex: 1;
    margin: 1rem 0;
    border-radius: 8px;
}

.card_skeleton-left__first {
    flex: 1.6;
    width: 100%;
}

.card_skeleton-left__second {
    flex: 1.2;
    width: 60%
}

.card_skeleton-left__third {
    width: 60%;
    margin-right: auto;
}

.card_skeleton-right {
   margin: 5rem 0;
}

.card_skeleton-right_item {
    width: 100%;
    height: 670pximportant;
    border-radius: 1%;
}
.animated-background {
    will-change: transform;
    animation: placeHolderShimmer 1s linear infinite forwards;
    -webkit-backface-visibility: hidden;
    background: #e6e6e6;
    background: linear-gradient(90deg, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 800px 104px;
    height: 100%;
    position: relative;
    
}

@keyframes placeHolderShimmer {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        background-position: -468px 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        background-position: 468px 0
    }
}
