/* style-wrap */
.font-color-white {color: #fff;}
.font-color-main {color: #3E2626;}
.img_basics {background-position: center; background-repeat: no-repeat; background-size: cover;}
.img_contain {background-position: center; background-repeat: no-repeat; background-size: contain;}
.color-background-F2EBDA {background-color: #F2EBDA; text-align: center;}

/* contents */
.contents-container {padding: 40px 20px;}
.contents-title {font-size: 18px; font-weight: 300; margin-bottom: 1rem;}
.contents-number {font-size: 31px; font-family: 'Merienda One';}
.contnets-desc {font-size: 14px; font-weight: 300; margin: 1rem 0; font-family:'Noto Sans KR';}

/* contents-main */
.contents-m-main-img  {width: 100%; height:0; padding-bottom: 50%;}
.contents-main-img {display: none;}

/* color-background */
.color-background-DEEDF2 {background-color: #DEEDF2; text-align: center;}
.color-background-E1CBA9 {background-color: #E1CBA9; text-align: center;}
.color-background-CC6944 {background-color: #CC6944;}


/* color-background */
.color-2B2749 {color: #2B2749;}

/* boder-background */
.border-color-AD8200 {display: block; width: 15%;  margin: 20px auto; border: 1px solid #AD8200; }
.border-color-D61782 {display: block; width: 15%;  margin: 20px auto; border: 1px solid #D61782; }
.border-color-073190 {display: block; width: 15%;  margin: 20px auto; border: 1px solid #073190; }

/* color-background */
/* summary */
.summary-img {width: 100%; }
.summary-content li:nth-child(3) {padding: 1rem 0;}
.summary-content {text-align: center; color: #fff;}
.summary-content span:before {
    content: '';
    display: block;
    background-image: url(../../../assets/images/quotation_mark_01.png);
    width: 15px;
    height: 15px;
    background-position: center; background-repeat: no-repeat; background-size: cover;
    margin: 0 auto;
}
.summary-content span::after {
    content: '';
    display: block;
    background-image: url(../../../assets/images/quotation_mark_02.png);
    width: 15px;
    height: 15px;
    background-position: center; background-repeat: no-repeat; background-size: cover;
    margin: 0 auto;
}
.summary-title {font-size: 18px; font-weight: 500;}
.summary-text {font-size: 16px; font-weight: 300; color: #FFC554; padding: 1rem 0;}
.summary-sub-text {font-size: 14px; font-weight: 300;}

/* effect */
.effect-content {text-align: center;}

.effect-card {display: flex; flex-wrap: wrap; justify-content: center; margin: 1rem -10px;}
.effect-card-item {display: flex; flex-direction: column;  padding: 1rem 10px;}
.effect-card-img {width: 180px; height: 180px; }
.effect-card-text {width: 180px; background-color: #3E2626; color: #FFC554; font-size: 14px; border-radius: 20px; padding: 0.3rem 0; margin-top: 1rem;} 

/* introduction */
.introduction-background {background-color: #F0EFF1; text-align: center;}
.introduction-content {text-align: center; color: #3E2626;}

.introduction-card {display: flex; flex-wrap: wrap;}
.introduction-card-list {background-color: #fff; display: flex; flex-wrap: wrap; padding: 1rem; margin-top: 1rem; width: 100%;}
.introduction-card-img {width: 100%; height: 248px; background-color: #EFF0F1;}
.introduction-card-desc { text-align: left;}
.introduction-card-title {font-size: 18px; font-weight: 700; padding-top: 1rem;}
.introduction-card-sub-title {font-size: 12px; font-weight: 400; color: #293D79; padding-top: 0.5em;}
.introduction-card-text {font-size: 14px; padding-top: 1rem; font-family: 'Noto Sans KR';}


/* information */
.information-content {text-align: center;}
.information-card-icon {width: 58px; height: 58px; margin: 0 auto;}
.information-card {display: flex; flex-wrap: wrap; justify-content: center; margin: 0 -10px;}
.information-card-item {padding: 10px 10px;}
.information-card-item div {border: 6px solid #F2ECEC; display: flex; flex-direction: column;  text-align: center; justify-content: center; width: 280px; height: 244px; box-sizing: border-box;}
.information-card-title {font-size: 18px; font-weight: 300; padding-top: 1rem;}
.information-card-text {font-size: 18px; font-weight: 700;}


/* special */
.special-img {display: none;}
.special-content {text-align: center;}
.special-card-item {justify-content: center; text-align: center; background-color: rgba(255,255,255,0.2) ; margin-top: 1rem; display: flex; align-items: center; padding: 1rem 0; flex-wrap: wrap;}
.special-card-number {width: 100%; text-align: center; font-size: 24px; color: #E38A88; font-style: italic;} 
.special-card-title {width: 100%; font-size: 16px; font-weight: 700;}
.special-card-text {width: 50%; font-size: 14px;}

/* solution */
.solution-img {background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%; display: flex; justify-content: center; padding: 2rem 0;}
.solution-container {display: flex; align-items: center;}
.solution-img-content {width: 300px; height: 0; padding: 60% 0; }

/* Component_IntroduceHeight */

.v-color {color: #AD8200;}

.i-color {color: #D61782;}

.b-color {color: #073190;}

.introduction-card-height {display: flex; flex-wrap: wrap;}
.introduction-card-height-list {width: 100%; background-color: #fff; padding: 1rem; margin-bottom: 1rem;}
.introduction-card-height-img {width: 100%; height: 0; padding-bottom: 60%; margin-bottom: 1rem;}
.introduction-card-height-cardImg {width: 100%; height: 248px; background-color: #EFF0F1; margin-bottom: 1rem;}

.introduction-card-height-title {font-size: 20px; font-weight: 300; }
.introduction-card-height-sub-title {font-size: 18px; font-weight: 700;}

.introduction-card-height-text { font-size: 14px; padding-bottom: 1rem;}

/* TreatmentAreaOne&Two */
.treatmentAreaOne-card {display: flex; flex-wrap: wrap;}
.treatmentAreaOne-card-list {width: 100%;}
.treatmentAreaOne-img {width: 100%;  height: 0;  padding-bottom: 55%; } 

.treatmentAreaTwo-card {display: flex; flex-wrap: wrap;}
.treatmentAreaTwo-card-list {width: 100%;}
.treatmentAreaTwo-img {width: 100%;  height: 0;  padding-bottom: 100%; margin-top: 1rem; } 

/* Like */
.like-background {text-align: center; color: #fff;}
.like-card {display: flex; flex-wrap: wrap; justify-content: center; align-items: center; color: #3E2626;}
.like-card-list {background-color: #fff; width: 100%; padding: 2rem 0; margin-bottom: 1rem;}
.like-card-list div {margin-top: 0.5rem;}
.like-card-img {width: 120px; height: 120px; margin: 0 auto;}
.like-card-btn-2B2749 {display: inline-block; border: 1px solid #2B2749; font-size: 14px; padding: 0.5rem 3rem; border-radius: 50px; margin: 0.5rem 0 1.5rem 0;}
.like-card-btn-2B2749:hover {background: #DFDFDF;}

.like-card-sub-title {font-size: 12px;}
.like-card-title {font-size: 18px; font-weight: 500;}
.like-deco-text {font-size: 6px; color: #DFDFDF; letter-spacing: 0.5rem;}

/* Component_SquareNumber */
.border-CC6944 {border: 1px solid #CC6944;}
.round-num {font-size: 24px; font-weight: 700; width: 60px; height: 60px; color: #fff; display: flex; justify-content: center; align-items: center; position: absolute; top: -30px; left: 50%; margin-left: -30px; border-radius: 50px;}



.squareNumber-card {display: flex; flex-wrap: wrap;}
.squareNumber-card-list {width: 100%; background-color: #fff; margin: 2rem 1rem; position: relative;}
.squareNumber-card-cardImg {width: 100%; height: 248px; background-color: #EFF0F1; margin-bottom: 1rem;}
.squareNumber-card-desc {margin: 3rem 0;}
.squareNumber-card-title {font-size: 16px; font-weight: 300; }
.squareNumber-card-sub-title {font-size: 16px; font-weight: 700;}
.squareNumber-card-text { font-size: 14px;}


/* Component_QnA */
.qna-background {text-align: center;}
.qna-card-list {margin-top: 1rem;}
.q-desc-wrap {background-color: #fff; display: flex; align-items: center; justify-content: left; padding: 1rem;}
.a-desc-wrap {background-color: #3E2626; display: flex; align-items: center; justify-content: left; color: #fff; padding: 2rem 1rem;}
.qna-num {font-size: 21px; font-weight: 700; margin-right: 1rem;}
.qna-title {font-size: 14px;  text-align: left;}
.qna-text {font-size: 14px;  font-weight: 300; text-align: left;}
.qna-icon-img {width: 30px; height: 30px;  margin-right: 1rem; background-position: center top; background-repeat: no-repeat; background-size: contain;}


/* Component_Precautions */
.precautions-card {text-align: left; color: #fff; display: flex; flex-wrap: wrap;}
.background-08A572 {background-color: rgba(8,165,114,0.6);}
.precautions-icon-img {width: 50px; height: 40px; margin-bottom: 0.5rem;}
.precautions-desc {width: 100%; display: flex; text-align: center; flex-direction: column; justify-content: center; align-items: center;  padding: 1rem 0; margin-bottom: 1rem;}
.precautions-desc-wrap {width: 100%;}

.precautions-desc-list {display: flex; align-items: center; background-color: #fff; margin-bottom: 1rem; padding: 1rem;}
.color-08A572 {color: #08A572;}
.precautions-text {color:#3E2626 ;}
.precautions-title {font-size: 18px;}
.precautions-ponit-text, .precautions-text {font-size: 14px;}
.precautions-num {font-size: 18px;  font-weight: 700; margin-right: 1rem;}


/* Component_ImgOne */
.ImgOne-img{width: 100%;  height: 0;  padding-bottom: 65%; } 

/* Component_ImgOneTitle */
.imgOneTitle-img{width: 100%;  height: 0;  padding-bottom: 45%; } 



/* el-tabs */
.container-wrap .el-tabs__nav {width: 100%;}
.container-wrap .el-tabs__item {width: 33.33333%; color: #fff; background-color: #9A9A9A;  font-size: 14px; padding: 0;}
.container-wrap .el-tabs--border-card>.el-tabs__header .el-tabs__item {border: 1px solid #707070; font-weight: 700;}
.container-wrap .el-tabs--border-card  {background: none; border: none;}
.container-wrap .el-tabs--border-card {box-shadow:0 0px 0px 0 rgba(0,0,0,0), 0 0 0px 0 rgba(0,0,0,.0)}
.container-wrap .el-tabs__item.is-active {color: #fff;}
.container-wrap .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {background-color: #575757;}
.container-wrap .el-tabs--border-card>.el-tabs__header { background-color: rgba(0,0,0,0);}
.el-tabs__header {background-color: rgba(0,0,0,0);}

.tab-container {text-align: center; margin: 0 auto;}
.ptofile--container {border: none;}
.btn-ptofile-01 {width: 100%; margin-top: 0.5rem;     } 
.btn-ptofile-02 {margin: 0 auto; width: 48%; padding: 0.8em 0em;}
.btn-ptofile--container {width: 290px; display: flex; flex-direction: column; margin: 0 auto; padding-bottom: 2rem;}


@media (min-width: 600px) { 
    .summary-title, .contents-title {font-size: 31px;}

    .introduction-card {margin-top: 2rem; justify-content: space-between;}
    .introduction-card-list {width: calc(50% - 2.5rem);}

    /* Component_IntroduceHeight */
    .introduction-card-height {justify-content: space-between;}
    .introduction-card-height-list {width: calc(50% - 2.5rem);}
    /* Component_Like */    
    .treatmentAreaTwo-card-list {width: 50%;}
    .like-card {justify-content: space-between;}
    .like-card-list {width: calc(33.333333% - 0.5rem); margin-bottom: 0;}

    .squareNumber-card {justify-content: center; }
    .squareNumber-card-list {width: calc(280px - 1.5rem); }

    .qna-icon-img {width: 50px; height: 30px;}
    .q-desc-wrap {padding: 1rem 3rem;}
    .a-desc-wrap {padding: 2rem 3rem;}
    
    .precautions-desc {width: 30%; margin-right: 1rem;}
    .precautions-desc-wrap  {    width: calc( 70% - 1rem);}

    .btn-ptofile--container {width: 380px;}
    

}



@media (min-width: 1024px) { 
    .contents-container {padding: 100px 80px;}
    .container-wrap { max-width: 1180px; margin: 0 auto; }

    /* contents */
    .contents-number {font-size: 80px; }
    .contents-title  {margin-bottom: 2rem;}
    .summary-title, .contents-title {font-size: 50px;}
    .special-card-number, .summary-text {font-size: 36px;}
    .summary-sub-text, .introduction-card-title, .contnets-desc {font-size: 24px;}
    .special-card-text, .special-card-title  {font-size: 21px;}
    .effect-card-text, .introduction-card-text {font-size: 18px;}
    .introduction-card-sub-title {font-size: 16px;}

    .introduction-card-title {padding-top: 0;}
    .introduction-card-text {padding-top: 2rem; line-height: 1.8;}
    .introduction-card-list {padding: 3rem; margin-top: 2rem;}
    .summary-content li:nth-child(3) {padding: 3rem 0;}
    .summary-content span:before, .summary-content span::after { width: 30px; height: 30px; }

    .contnets-desc {margin: 2rem 0 4rem 0;}

  
    .solution-img {padding: 4rem 0;}
    .solution-img-content { width: 780px; }

    .special-card-item {text-align: left; margin-top: 2rem;}
    .special-card-number {width: 15%;} 
    .special-card-title {width: 220px;}
 
    .introduction-card-list {width: 88%;  flex-wrap: nowrap;}
    .introduction-card-img {width: 280px; height: 248px;}
    .introduction-card-desc {width: 722px;}
    .introduction-card-img {margin-right: 3rem;}

     /* Component_IntroduceHeight */
     .introduction-card-height-img {    margin-bottom: 2rem;}
     .introduction-card-height-list {width: calc(33.333333% - 2.5rem);}

    /* Component_Like */     
     .like-card-list {padding: 5rem 0;}
     .like-card-img {   width: 160px;  height: 160px; }

    .squareNumber-card-title,.squareNumber-card-sub-title {font-size: 21px;}
    .squareNumber-card-text { font-size: 16px;}

    .qna-num {font-size: 50px;}
    .qna-title {font-size: 24px; }
    .qna-text {font-size: 21px;}
    .qna-num {    margin-right: 2rem;}
    .q-desc-wrap {padding: 1rem 4rem;}
    .a-desc-wrap {   padding: 2rem 6rem;  }
    .qna-icon-img {width: 100px; margin-right: 2rem;}
    .qna-card-list {margin-top: 2rem;}

    .precautions-title {font-size: 36px;}
    .precautions-ponit-text, .precautions-text {font-size: 21px;}
    .precautions-num {font-size: 50px; margin-right: 2rem;}
    .precautions-desc-list {padding: 1rem 2rem;}
    .precautions-icon-img {width: 90px; height: 80px;}


    .introduction-card-height-text { font-size: 16px; line-height: 1.5; }

    /* el-tabs */
    .container-wrap .el-tabs--border-card>.el-tabs__header .el-tabs__item {border: 1px solid #707070; font-size: 16px;}

    .btn-ptofile--container {width: 500px;}

    .introduction-card-height-title {font-size: 24px;  }
    .introduction-card-height-sub-title {font-size: 21px; }

}
  @media (min-width: 1280px) { 
    /* contents-main */
    .introduction-card-list {width: 100%; }
    .contents-m-main-img  {display: none;}
    .contents-main-img {display: block; width: 100%; height:670px;}
    .special-img {display: block; width: 100%;  height: 867px; position: absolute; bottom: 0;}
  

  }